# Node
frontend/node_modules
frontend/.next
frontend/.turbo
frontend/.env.local
frontend/.env.production

# Next.js build output
frontend/out
frontend/*.zip

# Python
__pycache__/
*.pyc
*.pyo
backend/.venv
backend/.env

# OS
.DS_Store

# Docker
db_data

# Environment variables
.env
.env.*
!.env.example

# virtual environment
.venv
pjenv/

# local documentation
APIDocumentation.pdf