@import "tailwindcss";

:root {
  --background: #f7efe4;
  --foreground: #3d1b1b;
  --card: #ffffff;
  --input-bg: #e9dcc6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
